
.container{
    width: 75%;
    max-width: 1280px;
    margin: 0 auto;
}
.baner{
    background-image: url(./images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
.card:hover{
    background: linear-gradient(rgba(243, 243, 243, 1),rgba(243, 243, 243, 0));
}