
.container{
    width: 75%;
    max-width: 1280px;
    margin: 0 auto;
}
.btnhov:hover{
    background: #dba25d;
    
}
.bane{
    background-image: url(./images/banner.png),linear-gradient(#171717cb,#171717cb);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
.card:hover{
    background: linear-gradient(rgba(243, 243, 243, 1),rgba(243, 243, 243, 0));
}
.section-heading{
    text-align: center;
    max-width: 715px;
    margin: 50px auto;
}
.section-heading h2{
    font-size: 40px;
    color: #414040;
    margin-bottom: 20px;
}
.section-heading p{
    font-size: 16px;
    color: #707070;
}
.contuct-input *{
    border-radius: 10px;
}
.icon i{
  transition: transform 0.5s;
}

/* open হলে + / − change */
details[open] .icon i{
  transform: rotate(90deg);
}

.con{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}



